<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" type="text/css" rel="stylesheet"/>
    <title>Lorem ipsum</title>
</head>
<body>
    <h1>LOREM IPSUM GENERATOR BY PIOTR AND TOMEK</h1>
    <form>
    <ul class="form-style-1">
        <li>
            <label>Wygenerowany tekst: </label>
            <textarea name="field2" id="field2" class="field-long field-textarea"></textarea>
            <label>Typ generowanego tekstu</label>
            <select name="field1" class="field-select">
                <option value="sentence">Zdanie</option>
                <option value="word">Słowo</option>
                <option value="paragraph">Paragraf</option>
            </select>
            <label>Ilość generacji</label>
            <input type="number" class="field-select" />
        </li>
        <li>
            <input type="submit" value="Generuj" />
        </li>
    </ul>
</form>
</body>
</html>